
  <h1>title</j1>

  <label for="name">名前</label>
  <input type="text" id="name"></input>
  <label for="text">内容</label>
  <input type="text" id="text"></input>
  <button id="send">送信</button>
  <ul id="messages">
  </ul>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat.js"></script>
