<h3 class="page-header">編集ページ</h3>
{{detail}}
<form method="post" action="/detail/edit/{{circleId}}">
  <div class="mui-textfield">
    <label>サークル名</label>
    <input type="text" value="{{circlename}}" name="circlename">
  </div>
  <div class="mui-textfield">
    <label>サークル紹介</label>
    <textarea name="introduction">{{introduction}}</textarea>
  </div>
  <button class="btn" type="submit" class="mui-btn mui-btn--raised">更新</button>
</form>
