<h3 class="page-header">詳細ページ</h3>
{{detail}}
<form>
  <div class="mui-textfield">
    <input type="text">
    <label>Input 1</label>
  </div>
  <div class="mui-textfield">
    <input type="text">
    <label>Input 2</label>
  </div>
  <div class="mui-textfield">
    <textarea></textarea>
    <label>Textarea</label>
  </div>
  <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
</form>
